---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
import Badge from '@astrojs/starlight/components/Badge.astro';
---

<Default {...Astro.props}><slot /></Default>

<div>

<p>  Marzban panel <Badge text="v0.4.9" />  </p>
<p>  Marzban node <Badge text="v0.3.2" />   </p>
</div>
